
#blog h3, h4 {
    text-align: center;
}

#blog p {
    text-align: center;
}
 
#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    height: 200px;
    max-width: 280px;
    cursor: pointer;
}

#reloj {
    background-color: #333;
    color: whitesmoke;
    border-style: none;
    float: left;
    margin-left: 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
}