
/* Importamos la letra que vamos a utilizar de google */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* Importamos otros documentos de css para tener las cosas mas estructuradas */
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
@import url(formu.css);

/* Quitamos padding i margin */
* {
    padding: 0px;
    margin: 0px;
}

/* Establecemos el tipo de letra y el background del body */
body {
    font-family: 'Baloo 2', cursive;
    background-color: wheat;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 15px;
}


header h1:hover {
    color: wheat;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
    font-size: 20px;
    margin-top: 8px;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#recibir {
    text-align: center;
}


#btnLeer {
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    color: wheat;
    background: #333;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

#btnLeer:hover {
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.5);
    color: #333;
}

#leer {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}